* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #F0F8FF;
    color: black;
}

.navBar {
    display: flex;
    padding: 20px 8%;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    position: fixed;
}

.brand {
    text-decoration: none;
    color: #191970;
    font-size: 35px;
    font-weight: 500px;
}

.brandName {
    font-weight: 500px;
}

#check, #drop {
    display: none;
}



.icons, .menuicons {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 5%;
    display: none;
}

.navList {
    display: flex;
    list-style: none;
    gap: 20px;
}

.link {
    text-decoration: none;
    color: black;
    font-weight: 550;
    transition: 0.3s;

}

.link:hover {
    color: brown
}

.heroSection {
    margin-bottom: 20px;
    margin-top: 90px;
    min-height: 80vh;
    padding: 20px 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: url(./images/Serene\ Natural\ Landscape\ with\ Wooden\ Pier.png);
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    background-attachment: fixed;
}

.heroText {
    animation: fadeIn 5s ease;

}

.heroTitle {
    font-size: 4rem;
    padding: 20px 8%;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
}

.heroPara {
    font-size: 20px;
    line-height: 1.6;
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: 600px;
    padding: 20px 8%;

}

.button {
    padding: 15px 35px;
    border: none;
    color: black;
    background-color: #E0FFFF;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;

}

.button:hover {
    background-color: #B0E0E6;
    color: white;
    transform: scale(1.05);
}

h2 {
    font-size: 40px;
    margin: 30px 8%;
    text-align: center;
    padding: 20px;
    color: #191970;
}

.destinations,
.packages,
.reviews {
    margin: 40px 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.destination,
.package,
.review {
    background-color: white;
    width: 300px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
    transition: 0.3s;
}

.destination:hover,
.package:hover {
    transform: translateY(-10px);
}

.desImg,
.packageImg {
    height: 400px;
    width: 100%;
    font-weight: 450px;
    object-fit: cover;
    margin-bottom: 10px;

}

.desTitle,
.packageTitle {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
    padding: 5px;
    color: #191970;

}

.packageTitle {
    font-size: 20px;
}

.packagePara,
.reviewPara {
    margin-bottom: 20px;
    text-align: left, justify;
    color: #000000;
}

.book {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

h5 {
    font-size: 20px;
}

.review {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.dp {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}

p {
    margin-bottom: 10px;
}

.contact {
    display: flex;
    justify-content: space-between;
    width: 90%;
    gap: 30px;
    padding: 20px 8%;
}

.contactDetails,
.contactImage {
    flex: 1;
}

.form input,
.form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.form textarea {
    height: 100px;
    resize: none;
}

.contactButton {
    padding: 12px 25px;
    border: none;
    color: black;
    background-color: #faffff;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid #ccc;
}

.contactButton:hover {
    background-color: #373f3f;
    color: white;
    transform: scale(1.05);
}

.contactImg {
    object-fit: cover;
    object-position: bottom;
    height: 200px;
    width: 100%;
}

.about {
    padding: 20px 8%;
    background-color: #B0C4DE;
}

.aboutSection {
    display: flex;
    justify-content: space-between;

    gap: 30px;
    margin-bottom: 15px;
}

.box {
    flex: 1;
    min-width: 180px;
}

#h3 {
    margin-bottom: 15px;
    font-size: 20px;
    color: #43433f;
    padding: 10px;
}

.smLink {
    font-size: 22px;
    color: #333;
    margin-right: 15px;
}

.List {
    list-style: none;
    line-height: 1.3;
}

.box {
    flex: 1;
}

.newsletter input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.newsletter .contactButton {
    width: 100%;
}

.copyright {
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

/* animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


/* responsive style */
@media(max-width:1199px) {

    /* style for mobile and tablet */
    .navBar {
        padding: 20px 5%;
    }

    .brand,
    .icons {
        font-size: 20px;
    }

    .icons {
        display: flex;
    }

    #cancelIcon {
        display: none;
    }

    #check:checked~.icons #menuIcon {
        display: none;
    }

    #check:checked~.icons #cancelIcon {
        display: block;
    }

    .navList {
        position: absolute;
        top: 100%;
        left: 0px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        flex-direction: column;
        height: 0px;
        height: fit-content;
        display: none;
    }

    #check:checked~.navList {
        display: block;

    }

    .navLink {
        text-align: center;
        padding: 1.5rem 0px;
    }

    .link {
        color: rgb(23, 22, 22);
    }


    .heroText {
        width: 45%;
    }

    .heroTitle {
        font-size: 2.5rem;
        text-align: left;
        padding: 0;
    }

    .heroPara {
        padding: 0;
    }
.menu{
    display: none;
}
    .destinations {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
    }

    .desImg {
        object-fit: contain;

    }

    .destination {
        width: 100%;

    }

    .packages {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .package {
        width: 100%;
    }

    #package3,
    #review3 {
        display: none;
    }

    .reviews {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .review {
        width: 100%;

    }

    .contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        align-items: center;
    }

    .contactImg {
        height: 250px;
    }

    .aboutSection {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }

    .about {
        display: none;
    }
}

@media(max-width:767px) {

    /* style for mobile and tablet */
    .navBar {
        padding: 20px 5%;
    }
.destinations, .packages, .reviews, .contact{
    display: none;
}



}